svg {
    border: 1px solid black;
}

.tree_group {
    fill: black;
    fill-opacity: .5;
    display: none;
}

.group_orbit {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-dasharray: 50;
}

.tree_node {
    fill: red;
}

.tree_edge {
    stroke: black;
    stroke-width: 10;
}