{
  "ignore": [
    "src/poe/trees/250/*"
  ],
  "presets": ["react", "es2015", "es2017"],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": { "plugins": ["transform-es2015-modules-commonjs"] }
  }
}