{
  "ignore": [
    "src/poe/trees/250/*",
    "src/poe/trees/260/*"
  ],
  "presets": ["env", "react"],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "test": { "plugins": ["transform-es2015-modules-commonjs"] }
  }
}