body {
    background-color: white;
}

#heatmap_wrapper {
    position: relative;
}

#heatmap, .passive_tree {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.passive_tree:not(.draw-target) {
    display: none;
}

#heatmap_legend {
    position: relative;
    width: 20%;
}

#heatmap_min {
    position: absolute;
    top: 0px;
    left: 0px;
}

#heatmap_max {
    position: absolute;
    top: 0px;
    right: 0px;
}

#heatmap_legend img {
    position: relative;
    top: 1em;
    right: 0px;
    height: 1em;
    width: 100%;
    border: 1px solid black;
}

#heatmap_wrapper {
    height: 800px;
}

/* busy indicator */
.busy-indicator {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type="submit"] + .busy-indicator {
    display: none;
}

input[type="submit"][disabled="disabled"] + .busy-indicator {
    display: inline-block;
}