body {
    background-color: white;
}

#heatmap_wrapper {
    position: relative;
}

#heatmap, .passive_tree {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

svg.passive_tree {
    display: none;
}

#heatmap_legend {
    position: relative;
    width: 20%;
}

#heatmap_min {
    position: absolute;
    top: 0px;
    left: 0px;
}

#heatmap_max {
    position: absolute;
    top: 0px;
    right: 0px;
}

#heatmap_legend img {
    position: relative;
    top: 1em;
    right: 0px;
    height: 1em;
    width: 100%;
    border: 1px solid black;
}

#heatmap_wrapper {
    height: 800px;
}