@import "~bootstrap/dist/css/bootstrap";
@import "~reset-css/reset";
@import "~nprogress/nprogress.css";

@import "tree";
@import "tree_heatmap";
@import "nav_tabs";
@import "form";
@import "data_filter";
@import "heatmap_conf";
@import "tree_conf";
@import "tooltip";


html, body {
  width: 100%;
  overflow-x: hidden;
  background-color: #e7e7e7;
  color: #6d6d6d;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

/* busy indicator */
.busy-indicator {
    display: inline-block;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.task-state {
  cursor: help;
  display: inline-block;
  padding: 0 .5em 0 .5em;
  margin: 0 .5em 0 0;
}

.task-state .task {
  font-style: normal;
}

.task-state .state.running {
  color: orange;
}

.task-state .state.done {
  color: greenyellow;
}

.task-state .glyphicon {
  color: greenyellow;
  display: inline-block;
  font-size: 2em;
  background-color: #6d6d6d;
}

.tasks {
  background-color: #6d6d6d;
  color: #e7e7e7;
  display: inline-block;
  list-style: none;
}

.toolbar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.toolbar button {
  vertical-align: top;
}