.react-nav-tabs {
  border-bottom: 1px solid black;
  padding: 1em;
  padding-bottom: 0px;
}

.tab-content {
  background-color: white;
  padding: 4px 0 0 4px;
}

.nav-tabs li a {
  cursor: pointer;
  text-transform: uppercase;
}

.tab-pane:not(.active) {
  display: none;
}