.tooltip {
  background-color: black;
  color: white;
  display: none;
  padding: .5em 0 0 .5em;
  position: absolute;
  width: 400px;
}

.tooltip.contains_information {
  display: block;
  opacity: 100 !important;
}

.passive-node .name {
  display: block;
  font-size: 1.5em;
}

.passive-node ul.stats {
  list-style: none;
  padding-left: .2em;
}

.passive-node .stat {
  
}