svg {
    width: 100%;
    height: 100%;
}

.group_orbit {
    fill: none;
    stroke: black;
    stroke-width: 5;
    stroke-dasharray: 50;
}

.hover-helper {
    fill-opacity: 0; /* fill none will disable tt */
}

.tree_node:not(.hover-helper) {
    fill: red;
}

.tree_edge {
    fill: none; /* for arcs */
    stroke: black;
    stroke-width: 10;
}

#tree_node_tooltip {	
    position: absolute;			
    text-align: center;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    white-space: pre;			
}

.passive-tree .voronoi polygon {
    fill: transparent;
}