body {
    background-color: white;
}

.heatmap-wrapper {
    border: 1px solid black;
    position: relative;
    width: 1900px;
    height: 1550px;
    overflow: hidden;
}

.zoomable {
    height: 100%;
    width: 100%;
}

.heatmap, .passive-tree {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.heatmap-legend {
    position: relative;
    width: 20%;
    height: 2em;
}

.heatmap-min {
    position: absolute;
    top: 0px;
    left: 0px;
}

.heatmap-max {
    position: absolute;
    top: 0px;
    right: 0px;
}

.heatmap-legend canvas {
    position: relative;
    top: 1em;
    right: 0px;
    height: 1em;
    width: 100%;
    border: 1px solid black;
}

/* busy indicator */
.busy-indicator {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
    display: none;
}

.busy-indicator.active {
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}