.heatmap-wrapper {
    background-color: white;
    border-top: 1px solid black;
    position: relative;
    width: 1900px;
    height: 1550px;
    overflow: hidden;
    margin-top: .5em;
}

.zoomable {
    height: 100%;
    width: 100%;
}

.heatmap, .passive-tree {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.data-legend {
    padding: 1em;
}

.data-legend strong {
    margin-right: 1em;
}

.data-legend em {
    margin-right: 1em;
}

.data-tally {
    text-decoration: underline;
}

.heatmap-legend {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 2em;
}

.heatmap-min {
    position: absolute;
    top: 1em;
    left: 0px;
}

.heatmap-max {
    position: absolute;
    top: 1em;
    right: 0px;
    margin-right: 0px !important;
}

.heatmap-legend canvas {
    position: relative;
    top: 0em;
    right: 0px;
    height: 1em;
    width: 100%;
    border: 1px solid black;
}